* {
    margin:0;
    padding:0;
    box-sizing: border-box;;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover; 
}

.container {
    display: block;
    border-radius: 5px;
    box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.2);
    width: 60vw;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(226, 226, 226, 0.4);
}

.title-container,
.form-container {
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    align-items: center;
}

label {
    padding: 0.5rem;
}

input, .form-select {
    line-height: 1.2rem;
    padding: 0.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.form-select {
    line-height: 1.6rem;
}
input:invalid {
    border: 2px solid red;
}

/* zipcode input style to remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline-style: none;
  border: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  outline-style: none;
  border: none;
}

/* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
} */
/* /////////////// */

.submit-btn {
    margin: 1rem;
    justify-self: center;
}